body {
    background-color: #d1fdbf;
}

.Adidas-Intro{
    margin: 20px;
    text-align: center;
}


h1 {
    color: #df0101;
}

/* A una clase le podemos dar el nombre que queramos, de preferencia alusivo a lo que haremos */

.encabezado {
    color: #000000;
    text-align:center;
}

.img-adidas-intro{
    border-radius:50px;
}

/* Estilos para la sección de productos */
.Adidas-Products{
    display: flex;
    background-color:#fff;
}

.Adidas-Products img{
    width:200px;
    height: 200px;
}

.Adidas-Products img:hover {
    width:250px;
    height: 250px;
}