body {
    background-color: #d1fdbf;
}

.Menu-Navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.Menu-Navegacion img{
    width: 8%;
    height: auto;
    margin: 10px 0px 10px 30px;
}

.Menu-Navegacion ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 30px 0px 0px;
    list-style: none;
}

.Menu-Navegacion li{
    margin: 10px;
    font-size: 20px;
    cursor:pointer;
}

.Menu-Navegacion li:hover{
    color: #df0101;
}

.Adidas-Intro{
    margin: 20px;
    text-align: center;
}


h1 {
    color: #df0101;
}

/* A una clase le podemos dar el nombre que queramos, de preferencia alusivo a lo que haremos */

.encabezado {
    color: #000000;
    text-align:center;
}

.img-adidas-intro{
    border-radius:50px;
}

/* Estilos para la sección de productos */
.Adidas-Products{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    background-color:#fff;
}

.Adidas-Products img{
    width:200px;
    height: 200px;
}

.Adidas-Products img:hover {
    width:250px;
    height: 250px;
}

.Galeria-Playeras {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    }